div {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
}

body {
  background-color: white;
  overflow-y: scroll;
}

/*********** title ***************/
.title-container {
  margin-left: 0;
  background-color: #3A9C44;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  height: 60px;
}

#title{
  color: white;
  font-size:50px;
  padding-top: 3px;
  /*font-family: "Courier New", Courier, monospace;*/
  /*font-weight: bold;*/
}

#select{
  vertical-align: middle;
  display: inline-block;
  color: black;
  font-size: 15px;
}

#cancelDelete{
  vertical-align: middle;
  display: none;
  color: black;
  font-size: 15px;
}

#cancelPlaceholder{
  vertical-align: middle;
  color: #3A9C44;
  font-size: 15px;
}

/************* search ********************/

#myInput {
  font-size: 20px;
  padding: 12px 0px 12px 20px;
}

.search {
  padding-left: 10px;
  padding-right: 10px;
}

/********** sort and tags buttons ***************/

#sorting{
  vertical-align: middle;
  font-size: 20px;
  padding: 2px 50px 2px 50px;
}

.dropdown-menu {
  background-color: white;
  font-size:30px;
  width: 300px;

  .sort-item {
    display: flex;

    .item-left{
      align-self:center;
    }

   .item-center{
     padding-right:15px;
      flex-grow: 1;
    }

    .item-right {
      align-self:center;
    }
  }
}

/*.btn-default {
      border-color: rgb(46, 109, 164);
}*/

.panel button{
  background-color: #3b50db;
  font-size:30px;
  width: 100%;
}

/**************** coupon table *****************

/*#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}*/

/*#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}*/

/*#myTable tr {
  border-bottom: 1px solid #ddd;
}*/

/*.coupon {
  float:left;
  display: block;
  border-radius: 25px;
  position: relative;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 40px;
  top: 8%;
  width: 95%;
    border: 25px #c9ddf1;
    background-color: orange;
  margin: 25px;
    box-sizing: border-box;
}*/

/*.coupon a {
  text-align:center;
  position: absolute;
}*/

.expired .coupon.modalClickable {
  background-color: lightgray;
  color: black;
}

.EXPIRED .coupon.modalClickable {
  background-color: gray;

}

.checks {
    display: none;
    float:right;
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  padding: 10px;
}