body{
	color: white;
    background: white;
    background-color: white;
  	overflow-y: scroll;
  	background-color: #edf2ee;
}
div {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  display: flex;
  justify-content: space-around;
}

.title-container {
	margin-left: 0;
	background-color: #3A9C44;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	height: 10%;
}

#title{
  color: white;
  font-size: 40px;
  padding-top: 3px;
}

#logoutButton{
	display: block;
	margin: auto;
	font-size: 25px;
	width: 80%;
	margin-top: 20px;
	color: white;
}

#userInfo{
	background-color: #82c481;
	margin-top: 20px;
	padding-bottom: 20px;
	/*margin: 20px 20px 20px 20px;*/
	/*margin-right: 20px;*/
	width:80%;
	border-radius: 10px;

}

#userImage{
	padding-top: 20px;

}

#userName{
	margin-left: 0px;
	float:left;
	font-size: 20px;
	vertical-align: middle;
	padding-top: 40px;
	color: black;
}

/*.button{
	display: block;
	position: relative;
	top: 50px;
	appearance: none;
	outline: 0;
	background-color: skyblue;
	border: 0;
	padding: 20px 30px;
	width: 100%;
	cursor: pointer;
	font-size: 40px;
	text-align:center;
}*/
 