body{
	color: white;
    background: white;
    background-color: white;
  	overflow-y: scroll;
  	background-color: #edf2ee;
}
div {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  display: flex;
  justify-content: space-around;
}

.title-container {
	margin-left: 0;
	background-color: #3A9C44;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	height: 10%;
}

#title{
  color: white;
  font-size: 40px;
  padding-top: 3px;
}

#space{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 70px 150px 70px 150px;
}

#logoutButton{
	display: block;
	margin: auto;
	font-size: 25px;
	padding: 10px 100px 10px 100px;
}

/*.button{
	display: block;
	position: relative;
	top: 50px;
	appearance: none;
	outline: 0;
	background-color: skyblue;
	border: 0;
	padding: 20px 30px;
	width: 100%;
	cursor: pointer;
	font-size: 40px;
	text-align:center;
}*/
 